main {
    display: flex;
    height: 60vh;
    width: 95vw;
    padding: 1vh 2vw 1vh 2vw;
    flex-direction: column;
}
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 5px solid black;
}
.main {
    display: flex;
}