.players {
    flex: 0.3;
    overflow-y: scroll;
    height: 85vh;
}
.span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
    padding: 5px 20px;
    width: 100%;
}
.span button{
    border-radius: 20px;
    padding: 5px 25px;
    border: none;
}
.span{
    border: none
}
.span button:hover {
    border: 5px solid rgb(212, 212, 212);
    padding: 0px 20px;
    border-radius: 0;
}
.span.nadpis {
    background-color: rgb(240, 240, 240);
    border: none;
}