.players {
    flex: 0.3;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
}
.span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
    padding: 5px 20px;
    width: 84%;
}
.span button:hover{
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}
.span button{
    border-radius: 20px;
    padding: 5px 25px;
    border: none;
}
.span button.showItem {
    margin: 0;
    padding: 0;
    flex: 1;
}
.span{
    border: none;
}
.span.nadpis {
    background-color: rgb(240, 240, 240);
    border: none;
    width: 84%;
}