.players {
    flex: 0.3;
    overflow-y: scroll;
    height: 85vh;
}
span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
}
span button{
    border-radius: 20px;
    padding: 5px 25px;
    border: none;
}
span button:hover {
    border: 1px solid gray;
    padding: 4px 24px;
}